<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Tracking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Gym Management System</h1>
    </header>
    {% include "navbar.html" %}
    <div class="container"> 
        <div class="attandance">
        <main >

        <h2>Attendance Tracking</h2>
        {% block content %}
            <h1>Add Member</h1>
            <form method="POST" action="{{ url_for('main.addattandance') }}">
                <label for="member_id">Member ID:</label>
                <input type="text" id="member_id" name="member_id" required>

                <label for="attendance_date">Attendance Date:</label>
                <input type="date" id="attendance_date" name="attendance_date" required>

                <label for="attendancestatus">Attendance Status:</label>
                <select id="attendance_status" name="attendance_status" required>
                    <option value="present">Present</option>
                    <option value="absent">Absent</option>
                </select>

                <button type="submit">Mark Attendance</button>
        </form>
        {% endblock %} 
    </main>
    </div>
</div>
</body>
</html>
