<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Gym Management System</h1>
    </header>
    {% include "navbar.html" %}
  
    
    <main >

        <h2>Welcome to the Gym Management System</h2>
        <br>
        <p>Manage your gym activities efficiently with our easy-to-use system.</p>
    </main>
</body>
</html>
